<div class="min-container">
  <div class="col-xs-4 col-xs-offset-4 text-center">
    <h1 class="red">Order</h1>
    <ul class="list-unstyled">
      <li>Status: <%= @participation.state %></li>
      <li>Item: <%= @participation.gift.name %></li>
      <li>Amount: <%= humanized_money_with_symbol(@participation.amount) %></li>
    <ul>

    <div class="stripe-payment">
      <div id="participation-form-1">
        <%= simple_form_for [@participation], html: { id: :message_form } do |f| %>
          <div class="gift-form-inputs">
            <%= f.input :gift_message, placeholder: "(Optional) Write some words to accompany your contribution", input_html: {id: "stuff"} %>
          </div>
          <div class="gift-form-actions { display: none }">
            <%= f.button :submit, "Send" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
