<div class="min-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="form-container">
          <%= link_to "< Back to inbox", event_conversations_path(@event), class: "inbox-back" %>
          <h3 class="yellow">Conversation with <%= @other_user.full_name %></h3>
          <% @messages.each do |message| %>
            <% if message.body %>
              <% user = User.find(message.user_id) %>
              <% if user == current_user %>
                <div class="message-section">
                  <div class="message-item-right body-gray">
                    <div class="content">
                      <div class="list">
                        <h6 class="message-text"><%= message.body %></h6>
                      </div>
                      <div>
                        <p class="message-time"><%= message.message_time %></p>
                      </div>
                    </div>
                  </div>
                  <div class="message-avatar">
                    <%= cl_image_tag (current_user.photo.present? ? current_user.photo : 'default-profile-image'), class: "avatar-sm-dashboard" %>
                  </div>
                </div>
              <% else %>
                <div class="message-section">
                  <div class="message-avatar">
                    <%= cl_image_tag (current_user.photo.present? ? current_user.photo : 'default-profile-image'), class: "avatar-sm-dashboard" %>
                  </div>
                  <div class="message-item-left body-light-gray">
                    <div class="content">
                      <div class="list">
                        <p class="message-text"><%= message.body %></p>
                      </div>
                      <div>
                        <p class="message-time"><%= message.message_time %></p>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
            <div class="text-center form-inline">
              <%= simple_form_for [@event, @conversation, @message] do |f| %>
              <%= f.input :body, label: false %>
              <%= f.hidden_field :event_id, value: @event.id %>
              <%= f.submit "Add Reply", class: "btn-yellow" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
