 <div class="min-container">
  <div class="container fill-high padding-bottom">
    <h3>Mailbox</h3>
    <h4><%= @event.child %>'s <%= @event.name %></h4>
    <div class="conversation-box">
      <div class="messages">
        <% if @conversations.empty? %>
          <p>You have no messages.</p>
        <% else %>
          <ul class="list-unstyled inbox">
            <% @conversations.order("created_at DESC").each do |conversation| %>
              <% if conversation.messages.present? %>
                <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
                  <% if conversation.sender_id == current_user.id %>
                    <% recipient = User.find(conversation.recipient_id) %>
                  <% else %>
                    <% recipient = User.find(conversation.sender_id) %>
                  <% end %>
                  <% if conversation.messages.last.read == false && conversation.messages.last.user != current_user %>
                    <% message_backgroud = "body-light-yellow" %>
                  <% else %>
                    <% message_backgroud = "body-light-gray" %>
                  <% end %>
                  <li class="message <%= message_backgroud %>">
                    <div class="message-avatar">
                       <%= cl_image_tag (recipient.photo? ? recipient.photo : "default-profile-image"), height: 60, width: 60, crop: :fill, class: "avatar-sm-dashboard" %>
                    </div>
                    <div class="message-info">
                      <h4><%= recipient.full_name %></h4>
                    </div>
                    <div class="message-body">
                      <h6><%= link_to conversation.messages.last.body, event_conversation_messages_path(@event, conversation) %></h6>
                      <p><%= conversation.messages.last.message_time %></p>
                    </div>
                    <div class="message-contribution">
                      <% if participation = recipient.participations.where(gift_id: @event.gifts).last %>
                        <%= participation.gift.name %> - £<%= participation.amount %>
                      <% end %>
                    </div>
                  </li>
                  <div class="yellow-long-line"></div>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="event-guests">
        <h4>Chat with an Event Attendee</h4>
        <div class="yellow-email-line"></div>
          <% if @event.creator != current_user %>
            <div class="event-guest-list">
              <div class="chat-list">
                <div class="chat-username">
                  <%= cl_image_tag (@event.creator.photo.present? ? @event.creator.photo : "default-profile-image"), height: 60, width: 60, crop: :fill, class: "avatar-xs" %>
                  <p><%= @event.creator.full_name %> (Host)</p>
                </div>
                <%= link_to (cl_image_tag "message1", height: 30, width: 30), event_conversations_path(@event, sender_id: current_user.id, recipient_id: @event.creator.id), method: :post %>
              </div>
            </div>
          <% end %>
          <% @guests.each do |guest| %>
            <% if guest.user != current_user %>
              <div class="chat-list">
                <div class="chat-username">
                  <%= cl_image_tag (guest.user.photo? ? guest.user.photo : "default-profile-image"), height: 60, width: 60, crop: :fill, class: "avatar-xs" %>
                  <p><%= guest.user.full_name %></p>
                </div>
                <%= link_to (cl_image_tag "message1", height: 30, width: 30), event_conversations_path(@event, sender_id: current_user.id, recipient_id: guest.user.id), method: :post %>
              </div>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
