<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <h2>Edit your profile</h2>

      <%= simple_form_for(@user) do |f| %>

        <div class="form-inputs">
          <%= cl_image_tag @user.photo %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.input :first_name, required: true %>
          <%= f.input :last_name, required: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update your profile" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
