
<div class="user-dashboard-container red-background"

  <%= cl_image_tag("default-profile-image", width: 100, height: 100, crop: :thumb, gravity: :face) %>
  <h1 class="user-name"><%= current_user.first_name.capitalize %>'s Dashboard</h1>

  <div class="row">
    <div class="events-container">
      <% if @upcoming_events.length == 0 %>
        <h2> You have no upcoming events </h2>
      <% else %>
        <% @upcoming_events.each do |event| %>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="events-container">
              <h2>Your Upcoming Events</h2>
              <div class="event-card">
                <div class="event-information">
                  <%= cl_image_tag event.child_photo, height: 50, width: 50, crop: :thumb, gravity: :face, class: "user-avatar" %>
                  <%= event.child_name %>'s <%= event.name %>
                </div>
                <%= link_to "+", event_gifts_path(event), class: "card-link" %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class=events-container
      <% if @events.length == 0 %>
          <h2> You are not hosting any events.</h2> <% link_to "Add an event!", new_event_path(@events) %>
      <% else %>
        <% @events.each do |event| %>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="events-container">
              <h2>Your Hosting Events</h2>
              <div class="event-card">
                <div class="event-information">
                  <%= cl_image_tag event.child_photo, height: 50, width: 50, crop: :thumb, gravity: :face, class: "user-avatar" %>
                  <p><%= event.child_name %></p>
                  <p><%= event.name %></p>
                </div>
                <%= link_to "+", event_gifts_path(event), class: "card-link" %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <%= link_to "Add event", new_event_path, class: "btn-yellow" %>

  </div>
</div>

