<div class="min-container">
  <div class="container">
    <div class="dashboard-container">
      <h1 class="user-name text-center"><%= current_user.first_name.capitalize %>'s Dashboard</h1>
      <div class="events-container">
        <h2>You are invited to</h2>
        <% if current_user.is_guest? %>
          <% @guests.each do |guest| %>
            <div class="event-card light-gray hover-yellow">
              <div class="event-flex">
                <% if guest.event.child_photo.present? %>
                  <%= image_tag guest.event.child_photo.url(:event_avatar) %>
                <% end %>
                <div class="event-title">
                  <h4><%= guest.event.child %>'s <%= guest.event.name %></h4>
                  <p><%= guest.event.date.to_time.strftime("%A %e %B %Y") %></p>
                  <p>Invited by: <%= guest.event.creator.full_name %></p>
                </div>
                <div class="event-box">
                  <%= link_to (cl_image_tag "box", height: 50, width: 50, class: "user-dashboard-icon"), event_gifts_path(guest.event) %>
                  <p class="icon-hover-text yellow"><%= guest.event.child_name.capitalize %>'s gifts</p>
                </div>
                <div class="event-box">
                  <% if current_user.participations.where(gift_id: guest.event.gifts).empty? %>
                    <%= link_to (cl_image_tag "sad_face", height: 50, width: 50, class: "user-dashboard-icon"), event_gifts_path(guest.event) %>
                    <p class="icon-hover-text gray">Contribute</p>
                  <% else %>
                    <%= link_to (cl_image_tag "smilegreen", height: 50, width: 50, class: "user-dashboard-icon"), event_gifts_path(guest.event) %>
                    <p class="icon-hover-text gray">Thank you</p>
                  <% end %>
                </div>
                <div class="event-box">
                  <%= link_to (cl_image_tag "mail", height: 50, width: 50, class: "user-dashboard-icon"), event_conversations_path(guest.event) %>
                  <p class="icon-hover-text red">View messages</p>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>You are currently not invited to any events.</p>
        <% end %>
      </div>

      <hr class="hr-text" data-content="AND">

      <div class="events-container">
        <h2>You are hosting</h2>
        <%= link_to new_event_path do %>
          <strong><p class="events-add">+ Add a new event</p></strong>
        <% end %>
        <% if current_user.is_parent? %>
          <% @events.each do |event| %>
            <div class="event-card light-gray hover-red">
              <div class="event-flex">
                <% if event.child_photo.present? %>
                  <%= image_tag event.child_photo.url(:event_avatar) %>
                <% end %>
                <div class="event-title">
                  <h4><%= event.child %>'s <%= event.name.capitalize %></h4>
                  <p><%= event.date.to_time.strftime("%A %e %B %Y") %></p>
                </div>

                <div class="event-box">
                  <%= link_to (cl_image_tag "box", height: 50, width: 50, class: "user-dashboard-icon"), event_gifts_path(event) %>
                  <p class="icon-hover-text yellow"><%= event.child_name.capitalize %>'s gifts</p>
                </div>

                <div class="event-box">
                  <a href data-toggle="modal" data-target="#myModal-<%= event.id %>" id="edit">
                    <%= cl_image_tag "envelope", height: 50, width: 50, class: "user-dashboard-icon" %>
                    <p class="icon-hover-text gray">Send invites</p>
                  </a>
                  <div class="modal fade" id="myModal-<%= event.id %>" role="dialog">
                    <div class="modal-dialog modal-md">
                      <div class="modal-content">
                        <div class="modal-header text-center">
                          <button type="button" class="close" data-dismiss="modal">x</button>
                          <h3 class="form-title spacing text-center">Invite your friends and family</h3>
                        </div>
                        <div class="modal-body text-center">
                          <%= render 'shared/eventpageform', event_id: event.id %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="event-box">
                  <%= link_to (cl_image_tag "mail", height: 50, width: 50, class: "user-dashboard-icon"), event_conversations_path(event) %>
                  <p class="icon-hover-text red">View messages</p>
                </div>
              </div>
              <div class="delete-button red"><%= link_to (cl_image_tag "envelope"), event_path(event), method: :delete %></div>
            </div>
          <% end %>
        <% else %>
          <p class="padding-bottom">You are currently not hosting any events.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
