<%= cl_image_tag user.avatar, height: 50, width: 50, crop: :thumb, gravity: :face, class: "user-avatar" %>
<h1><%= user.first_name %>'s Dashboard</h1>

<div class="row">
  <% @events.each do |event| %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="events-container">
        <h2>Your events</h2>
        <div class="event-card">
          <div class="event-information">
            <%= cl_image_tag event.child_photo, height: 50, width: 50, crop: :thumb, gravity: :face, class: "user-avatar" %>
            <%= event.child_name %>'s <%= event.name %>
          </div>
          <%= link_to "+", event_path(event), class: "card-link" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
