<div class="min-container">
  <div class="container">
    <div class="dashboard-container">
      <div class="girl-container">
        <div id="girl">
          <%= cl_image_tag "girlpink1", width: 300 %>
        </div>
      </div>
      <h1 class="user-name text-center"><%= current_user.first_name.capitalize %>'s Dashboard</h1>
      <div class="events-container">
        <h2>You are invited to</h2>
        <% if current_user.is_guest? %>
          <% @guests.each do |guest| %>
            <div class="event-card light-gray hover-red">
              <div class="event-flex">
                <%= cl_image_tag (guest.event.child_photo.present? ? guest.event.child_photo : 'avatar-yellow'), class: "avatar-sm-dashboard" %>
                <div class="event-title">
                  <%= link_to event_gifts_path(guest.event) do %>
                    <h4><%= guest.event.child %>'s <%= guest.event.name %></h4>
                  <% end %>
                  <p><%= guest.event.date.to_time.strftime("%A %e %B %Y") %></p>
                  <p>Invited by <%= guest.event.creator.full_name %></p>
                </div>
                <div class="event-box">
                  <%= link_to (cl_image_tag "envelope2", height: 50, width: 50, class: "user-dashboard-icon"), event_conversations_path(guest.event) %>
                  <p class="icon-hover-text gray">View messages</p>
                </div>
                <div class="event-box">
                  <% participations = current_user.participations.where(gift_id: guest.event.gifts) %>
                  <% if participations.empty? %>
                    <%= cl_image_tag "sad_face", height: 50, width: 50, class: "user-dashboard-icon" %>
                    <p class="icon-hover-text gray">Contribute</p>
                  <% else %>
                    <% total_amount = 0 %>
                    <% participations.each do |participation| %>
                      <% total_amount += participation.amount  %>
                    <% end %>
                    <%= cl_image_tag "happy3", height: 50, width: 50, class: "user-dashboard-icon" %>
                    <p class="icon-hover-text yellow">You've contributed £<%= total_amount %>!</p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>You are currently not invited to any events.</p>
        <% end %>
      </div>

      <hr class="hr-text" data-content="AND">

      <div class="events-container">
        <h2>You are hosting</h2>
        <% if current_user.is_parent? %>
          <%= link_to new_event_path do %>
            <strong><p class="events-add">+ Add a new event</p></strong>
          <% end %>
          <% @events.each do |event| %>
            <div class="event-card light-gray hover-yellow">
              <div class="event-flex">
                <%= cl_image_tag (event.child_photo.present? ? event.child_photo : 'avatar-pink'), radius: 50, width: 50, height: 50, crop: :thumb, gravity: :face %>
                <div class="event-title">
                  <%= link_to event_gifts_path(event_id: event.id) do %>
                    <h4><%= event.child %>'s <%= event.name.capitalize %></h4>
                  <% end %>
                  <p><%= event.date.to_time.strftime("%A %e %B %Y") %></p>
                </div>
                <div class="event-box">
                  <%= link_to (cl_image_tag "envelope2", height: 50, width: 50, class: "user-dashboard-icon"), event_conversations_path(event) %>
                  <p class="icon-hover-text gray">View messages</p>
                </div>
                <div class="event-box">
                    <div class="total event-box:hover user-dashboard-icon" data-integer="<%= event.total_raised %>"></div>
                    <p class="icon-hover-text red">Amount Raised</p>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p class="padding-bottom">You are currently not hosting any events.</p>
          <%= link_to "Create your first event", new_event_path, class: "btn-red" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'total' %>
