<div class="min-container">
  <div class="container">
    <div class="dashboard-container">
      <div class="girl-container">
        <div id="girl">
          <%= cl_image_tag "girlpink1", width: 300 %>
        </div>
      </div>
      <h1 class="user-name text-center"><%= current_user.first_name.capitalize %>'s Dashboard</h1>
      <div class="events-container">
        <h2>You are invited to</h2>
        <% if current_user.is_guest? %>
          <% @guests.each do |guest| %>
            <div class="event-card light-gray hover-yellow">
              <div class="event-flex">
                <% if guest.event.child_photo.present? %>
                  <%= image_tag guest.event.child_photo.url(:event_avatar) %>
                <% end %>
                <div class="event-title">
                  <h4><%= guest.event.child %>'s <%= guest.event.name %></h4>
                  <p><%= guest.event.date.to_time.strftime("%A %e %B %Y") %></p>
                  <p>Invited by: <%= guest.event.creator.full_name %></p>
                </div>
                <div class="event-box">
                  <%= link_to (cl_image_tag "box", height: 50, width: 50, class: "user-dashboard-icon"), event_gifts_path(guest.event) %>
                  <p class="icon-hover-text yellow"><%= guest.event.child %>'s gifts</p>
                </div>
                <div class="event-box">
                  <% if current_user.participations.where(gift_id: guest.event.gifts).empty? %>
                    <%= link_to (cl_image_tag "sad_face", height: 50, width: 50, class: "user-dashboard-icon"), event_gifts_path(guest.event) %>
                    <p class="icon-hover-text gray">Contribute</p>
                  <% else %>
                    <%= link_to (cl_image_tag "smilegreen", height: 50, width: 50, class: "user-dashboard-icon"), event_gifts_path(guest.event) %>
                    <p class="icon-hover-text font-green">Thank you</p>
                  <% end %>
                </div>
                <div class="event-box">
                  <%= link_to (cl_image_tag "mail", height: 50, width: 50, class: "user-dashboard-icon"), event_conversations_path(guest.event) %>
                  <p class="icon-hover-text red">View messages</p>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>You are currently not invited to any events.</p>
        <% end %>
      </div>

      <hr class="hr-text" data-content="AND">

      <div class="events-container">
        <h2>You are hosting</h2>
        <% if current_user.is_parent? %>
          <%= link_to new_event_path do %>
            <strong><p class="events-add">+ Add a new event</p></strong>
          <% end %>
          <% @events.each do |event| %>
            <div class="event-card light-gray hover-red">
              <div class="event-flex">
                <% if event.child_photo.present? %>
                  <%= image_tag event.child_photo.url(:event_avatar) %>
                <% end %>
                <div class="event-title">
                  <h4><%= event.child %>'s <%= event.name.capitalize %></h4>
                  <p><%= event.date.to_time.strftime("%A %e %B %Y") %></p>
                </div>

                <div class="event-box">
                  <%= link_to (cl_image_tag "box", height: 50, width: 50, class: "user-dashboard-icon"), event_gifts_path(event) %>
                  <p class="icon-hover-text yellow"><%= event.child %>'s gifts</p>
                </div>

                <div class="event-box">
                  <%= link_to event_gifts_path(event_id: event.id, invites: 'true') do %>
                    <%= cl_image_tag "envelope", height: 50, width: 50, class: "user-dashboard-icon" %>
                  <% end %>
                    <p class="icon-hover-text gray">Send invites</p>
                </div>
                <div class="event-box">
                  <%= link_to (cl_image_tag "mail", height: 50, width: 50, class: "user-dashboard-icon"), event_conversations_path(event) %>
                  <p class="icon-hover-text red">View messages</p>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p class="padding-bottom">You are currently not hosting any events.</p>
          <%= link_to "Create your first event", new_event_path, class: "btn-red" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
