<div class="min-container">
  <div class="container">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="form-container padding-bottom">
        <h2 class="red">Let's create a new event</h2>
        <%= simple_form_for @event, html: {runat: 'server'} do |f| %>
          Upload your child's photo
          <div class="form-inputs">
            <img id="blah" class= "avatar-child src="#" alt="your image" style="visibility: hidden;" />
            <%= f.input :child_photo_cache, as: :hidden %>
            <%= f.input :child_photo, label: false, error: "Please upload your child's photo" %>
            Child's name
            <%= f.input :child_name, required: true, label: false, error: "Please enter your child's name" %>
            Occasion
            <%= f.input :name, required: true, label: false, error: "Please enter the occasion" %>
            Event date
            <div class='daterange'>
              <%= f.input :date, as: :date_picker, label: false, error: "Please enter the event date" %>
            </div>
            <strong><p>(Optional) Add bank account details where you would like to receive gift contributions</p></strong>
            Account name
            <%= f.input :account_name, required: false, label: false, placeholder: "#{current_user.full_name}" %>
            Sort code
            <%= f.input :sort_code, required: false, label: false, placeholder: "12-34-56" %>
            Account number
            <%= f.input :account_number, required: false, label: false, placeholder: "12345678" %>
          </div>
          <div class="form-actions">
            <label class="btn-red">
              Create
              <span style="display: none">
                <%= f.button :submit %>
              </span>
            </label>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
  function readURL(input) {

  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {
      $('#blah').attr('src', e.target.result);
    }

    reader.readAsDataURL(input.files[0]);
  }
}

$("#event_child_photo").change(function() {
  readURL(this);
  var blah = document.getElementById('blah');
  blah.style.visibility = "visible";
});
</script>
