<div class="contributor-names padding-bottom">
  <% participations = gift.participations.where(state: 'paid') %>
  <% if participations.count == 1 %>
    <p><%= participations[0].user.full_name %> has contributed.</p>
  <% elsif participations.count == 2 %>
    <p><%= participations[0].user.full_name %> and <%= participations[1].user.full_name %> have contributed.</p>
  <% elsif participations.count == 3 %>
    <p style="display: inline"><%= participations[0].user.full_name %>, <%= participations[1].user.full_name %> and
      <div id="others-popup", style="display: inline">
        <a> 1 other
          <span>
            <%= participations[2].user.full_name %>
          </span>
        </a>
      </div>have contributed.
    </p>
  <% else %>
    <p style="display: inline"><%= participations[0].user.full_name %>, <%= participations[1].user.full_name %> and
      <div id="others-popup", style="display: inline">
        <a><%= participations.count - 2 %> others
          <span>
            <% participations.each do |participation| %>
              <%= participation.user.full_name %>
            <% end %>
          </span>
        </a>
      </div>
      have contributed.
    </p>
  <% end %>
</div>
