<div id="popup">
  <% if current_user %>
    <a><%= cl_image_tag gift.photo, width: 190, height: 190, crop: :fill, class: "gift-photo" %>
      <span>
        <div class="pop-up-box text-center" data-toggle="modal" data-target="#myModal<%= gift.id %>">
          <div class="pop-up-info">
            <% if gift.participations.empty? %>
               <% if @event.creator == current_user %>
                <p class="pop-up-info">No one has contributed to <strong class="larger-text"><%= gift.capitalized_name %></strong> yet!</p>
              <% else %>
                <p class="pop-up-info">Be the first to contribute to <strong class="larger-text"><%= gift.capitalized_name %></strong>!</p>
              <% end %>
              <%= cl_image_tag "sad-red", width: 70, height: 70 %>
              <p class="pop-up-info"><strong>Amount needed:</strong> £<%= gift.amount_left %></p>
            <% elsif gift.participations.count == 1 %>
              <p class="pop-up-info"><%= gift.participations.first.user.first_name.capitalize %> has contributed to <strong class="larger-text"><%= gift.name %></strong>!</p>
              <div class="progress auto-margin" data-integer="<%= gift.amount_raised %>"></div>
              <% if gift.amount_left.zero? %>
                <%= cl_image_tag "happy-red", width: 70, height: 70 %>
                <p class="pop-up-info">This gift has been fulfilled!</p>
              <% else %>
                <p class="pop-up-info"><strong>Amount needed:</strong> £<%= gift.amount_left %></p>
              <% end %>
            <% else %>
              <p class="pop-up-info"><%= gift.participations.count %> people have contributed to <strong class="larger-text"><%= gift.capitalized_name %></strong></p>
              <% if gift.amount_left.zero? %>
                <%= cl_image_tag "happy-red", width: 70, height: 70 %>
                <p class="pop-up-info">This gift has been fulfilled!</p>
              <% else %>
                <div class="progress auto-margin" data-integer="<%= gift.amount_raised %>"></div>
                <p class="pop-up-info"><strong>Amount needed:</strong> £<%= gift.amount_left %></p>
              <% end %>
            <% end %>
          </div>
        </div>
      </span>
    </a>

  <% else %>
    <%= link_to event_gifts_path(event: @event, check: true, token: params[:token]), class: "gift-link-name" do %>
      <%= cl_image_tag gift.photo, width: 190, height: 190, crop: :fill, class: "gift-photo" %>
        <span>
          <div class="pop-up-info">
            <% if gift.participations.empty? %>
              <p class="pop-up-info">Be the first to contribute to <strong class="larger-text"><%= gift.capitalized_name %></strong>!</p>
              <%= cl_image_tag "sad-red", width: 70, height: 70 %>
              <p class="pop-up-info"><strong>Amount needed:</strong> £<%= gift.amount_left %></p>
            <% elsif gift.participations.count == 1 %>
              <p class="pop-up-info"><%= gift.participations.first.user.first_name.capitalize %> has contributed to <strong class="larger-text"><%= gift.name %></strong>!</p>
              <% if gift.amount_left.zero? %>
                <%= cl_image_tag "happy-red", width: 70, height: 70 %>
                <p class="pop-up-info">This gift has been fulfilled!</p>
              <% else %>
                <div class="progress auto-margin" data-integer="<%= gift.amount_raised %>"></div>
                <p class="pop-up-info">Amount needed: £<%= gift.amount_left %></p>
              <% end %>
            <% else %>
              <p class="pop-up-info"><%= gift.participations.count %> people have contributed to <strong class="larger-text"><%= gift.capitalized_name %></strong></p>
              <% if gift.amount_left.zero? %>
                <%= cl_image_tag "happy-red", width: 70, height: 70 %>
                <p class="pop-up-info">This gift has been fulfilled!</p>
              <% else %>
                <div class="progress auto-margin" data-integer="<%= gift.amount_raised %>"></div>
                <p class="pop-up-info">Amount needed: £<%= gift.amount_left %></p>
              <% end %>
            <% end %>
          </div>
        </span>
    <% end %>
  <% end %>
</div>

<div class="gift-info">
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal<%= gift.id %>">
    <div class="gift-modal-name">
        <%= gift.capitalized_name %>
    </div>
  </button>
</div>

<div id="myModal<%= gift.id %>" class="modal" role="dialog">
  <div class="modal-dialog modal-background-color">
    <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
      <div class="modal-body">
        <div>
          <div class="modal-title">
            <p>You have selected</p>
            <h4><%= gift.capitalized_name %></h4>
          </div>
          <div class="modal-info">
            <%= cl_image_tag (gift.photo), width: 200, height: 200, crop: :fill, class: "gift-photo" %>
            <p><%= gift.description %></p>
          </div>
        </div>
        <div class="modal-pay">
          <div class="progress-box">
            <div class="progress" data-integer="<%= gift.amount_raised %>"></div>
            <div class="progress-info text-left">
              <p><strong>Price: </strong>£<%= gift.price %></p>
              <p><strong>Remaining: </strong> £<%= gift.amount_left %></p>
            </div>
          </div>
          <div class="contributions">
            <% if gift.participations.where(state: 'paid').empty? %>
              <% if @event.creator == current_user %>
                <p>No one has contributed yet!</p>
              <% else %>
                <p>Be the first to contribute!</p>
                <%= simple_form_for @participation do |f| %>
                  <%= f.hidden_field :gift_id, value: gift.id %>
                  <%= f.hidden_field :invite_token, value: @token %>
                  <%= f.input :amount, label: "Amount (£)" %>
                  <%= f.submit 'Contribute', class: 'btn-red' %>
                <% end %>
              <% end %>
            <% else %>
              <div class="contributors">
                <div class="contributors-container">
                  <% gift.participations.where(state: 'paid').each do |participation| %>
                    <% if participation.user.photo? %>
                      <%= cl_image_tag participation.user.photo, class: "contributor-avatar" %>
                    <% else %>
                      <%= cl_image_tag 'logo-gifter', class: "contributor-avatar" %>
                    <% end %>
                  <% end %>
                </div>
                <%= render 'contributors', gift: gift %>
              </div>
              <% if gift.amount_left.zero? %>
                <p class="fulfilled-text">This Gift Has Been Fulfilled!</p>
              <% elsif @event.creator == current_user %>
              <% else %>
                <%= simple_form_for @participation do |f| %>
                  <%= f.hidden_field :gift_id, value: gift.id %>
                  <%= f.input :amount, label: "Amount (£)" %>
                  <%= f.submit 'Contribute', class: 'btn-red' %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

