<div class="min-container">
  <div class="background-yellow">
    <div class="event-dashboard">
      <div class="event-info-header">
        <%= cl_image_tag @event.child_photo, width: 70, height: 70, crop: :thumb, gravity: :face, class: "avatar-lg"%>
        <h1>Welcome to <%= @event.child_name.capitalize %>'s <%=@event.name %></h1>
        <p><%= @event.date.to_time.strftime("%A %e %B %Y")%> | Host: <%= @event.creator.full_name %></p>
      </div>
      <% if policy(@event).update? %>
        <ul class="list-unstyled">
          <li class="gift-links"><%= link_to "+ Add a new gift", new_event_gift_path %></li>
          <li class="gift-links"><a href data-toggle="modal" data-target="#myModal" id="edit">Send invites</a></li>
        </ul>
      <% end %>
    </div>

    <div class="container fill-high">
      <div class="row">
        <% @gifts.each do |gift| %>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="gift-card">
              <%= render 'giftcard', gift: gift, token: @token %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% if policy(@event).destroy? %>
      <div class="gift-links text-center"><%= link_to "- Delete event", event_path(@event), method: :delete %></div>
    <% end %>
  </div>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header text-center">
          <button type="button" class="close" data-dismiss="modal">x</button>
          <h3 class="form-title spacing blue-font text-center">Invite your friends and family</h3>
        </div>
        <div class="modal-body text-center">
          <div class="">
            <%= render 'shared/giftpageform' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
