<div class="background-yellow">
  <div class="event-dashboard">
    <%= cl_image_tag @event.child_photo, crop: :fill, class: "avatar-lg"%>
    <h1>Welcome to <%= @event.child_name %>'s <%=@event.name %></h1>
    <%# if policy(Gift).create? %>
    <% if @event.creator == current_user %>
      <ul class="list-unstyled">
        <li><%= link_to "Delete", event_path(@event), method: :delete %></li>
        <li><%= link_to "Add a gift", new_event_gift_path %></li>
        <li><a href data-toggle="modal" data-target="#myModal" id="edit">Invite</a></li>
      </ul>
    <% end %>
  </div>

  <div class="container fill-high">
    <div class="row">
      <% if @gifts.length == 0 %>
      <% else %>
        <% @gifts.each do |gift| %>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="gift-card">
              <%= cl_image_tag gift.photo, width: 190, height: 190, crop: :fill, class: "gift-photo" %>
              <div class="gift-info">
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal<%= gift.id %>"><%=gift.name %></button>
                <div id="myModal<%= gift.id %>" class="modal" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="modal-title">
                          <p>You have selected</p>
                          <h4><%= gift.name %></h4>
                        </div>
                      </div>
                    </div>
                    <div class="modal-body">
                      <div class="modal-info">
                        <%= cl_image_tag (gift.photo), width: 200, height: 200, crop: :fill, class: "gift-photo" %>
                        <p><%= gift.description %></p>
                      </div>
                      <div class="modal-pay">
                        <%= image_tag "jamjar.jpg" %>
                        <p><%= gift.price %></p>
                        <%= form_tag participations_path do %>
                          <%= hidden_field_tag 'gift_id', gift.id %>
                          <%= submit_tag 'Contribute', class: 'btn-red' %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h3 class="form-title spacing blue-font text-center">Invite your friends and family</h3>
      </div>
      <div class="modal-body text-center">
        <div class="">
          <%= render 'shared/giftpageform' %>
        </div>
      </div>
    </div>
  </div>
</div>

