<div class="min-container">
  <div class="background-yellow">
    <div class="event-dashboard">
      <div class="event-info-header">
        <%= cl_image_tag @event.child_photo, width: 70, height: 70, crop: :thumb, gravity: :face, class: "avatar-lg"%>
        <div class="event-info-title text-center">
          <h1>Welcome to <%= @event.child %>'s <%=@event.name %></h1>
        </div>
        <p>
          <%= @event.date.to_time.strftime("%A %e %B %Y")%> | Host: <%= @event.creator.full_name %>
          <% if policy(@event).update? %>
            <%= link_to edit_event_path(@event) do %>
              <i class="fa fa-pencil edit-event"></i>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>

    <div class="container fill-high">
      <% if policy(@event).update? %>
        <ul class="nav nav-tabs">
          <li class="<%= params[:invites] == 'true' ? '' : 'active' %>"><a data-toggle="tab" href="#home">Gifts</a></li>
          <li class="<%= params[:invites] == 'true' ? 'active' : '' %>"><a data-toggle="tab" href="#invites">Send Invites</a></li>
        </ul>
        <div class="tab-content">
          <div id="home" class="tab-pane fade <%= params[:invites] == 'true' ? '' : 'in active' %>">
            <div class="gifts-tab">
              <div class="row">
                <% @gifts.each do |gift| %>
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="gift-card">
                      <%= render 'giftcard', gift: gift, token: @token %>
                    </div>
                  </div>
                <% end %>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                  <div class="static-add-gift">
                    <%= link_to new_event_gift_path do %>
                      <div class="new-gift-card">
                        <div><h3>+</h3><h4>Add a new gift</h4></div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="invites" class="tab-pane fade <%= params[:invites] == 'true' ? 'in active' : '' %>">
            <%= render 'shared/invite' %>
          </div>
        </div>
      <% else %>
        <div class="row">
          <% @gifts.each do |gift| %>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="gift-card">
                <%= render 'giftcard', gift: gift %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'progress' %>
