<div class="min-container">
  <div class="col-xs-4 col-xs-offset-4">
    <h2 class="red">Let's create a new gift</h2>
    <%= simple_form_for [@event, @gift] do |f| %>
      <div class="form-inputs">
        Photo:
        <%= f.input :photo,label:false %>
        <%= f.input :photo_cache, as: :hidden %>
        Gift name:
        <%= f.input :name, required: true, label: false  %>
        Gift description:
        <%= f.input :description, required: true, label: false, placeholder: "Amazing experiences and things that don't contain plastic ;)"  %>
        Price:
        <%= f.input :price, label: false %>
      </div>
      <div class="form-actions">
        <label class="btn-red">
          Submit
          <span style="display: none">
            <%= f.button :submit %>
          </span>
        </label>
      </div>
    <% end %>
  </div>
</div>
