<div class="min-container">
  <div class="home-container">
    <div class="boy-container">
      <div class="boy">
        <%= cl_image_tag("http://res.cloudinary.com/dj2d1zdlv/image/upload/v1520935404/tommy.png", class: "boy-img") %>
      </div>
    </div>

    <div class="welcome-container">
      <div class="yellow-container">
        <h2 class="banner-font">Let's gift<br>something<br>meaningful</h2>
        <p><strong>Help your child get a head start with Gifter</strong></p>
        <p>Invite family and friends to contribute towards gifts and experiences</p>
      </div>
      <div class="red-container">
       <div class="button-container">
         <%= link_to "Get started", events_path, class: "btn-home" %>
          <!-- <h5><a href="#explainer" class="btn-home">Find out more</a></h5> -->
        </div>
        <a href="#explainer">
          <div class="container-arrow">
            <div class="chevron"></div>
           <!--  <div class="chevron"></div>
            <div class="chevron"></div> -->
          </div>
        </a>
      </div>
    </a>
  </div>

  <div class="content-section text-center">
    <div class="container text-center" id="explainer">
      <div class="row">
        <div class="mx-auto mb-5">
          <h1 class="yellow">What We Do</h1>
          <p class="padding-bottom padding gray">Gifter makes it easy to start investing in your child’s future by encouraging friends and family to fundraise towards meaningful gifts and experiences.</p>
        </div>
      </div>
    </div>

    <div class="home-line"></div>

    <div class="container">
      <h1 class="yellow text-center" >Why We Do It</h1>
      <div class="card col-xs-12 col-sm-4 text-center">
        <strong><p class="gray">Children</p></strong>
        <div class="explainer-boxes">
          <%= cl_image_tag("http://res.cloudinary.com/dj2d1zdlv/image/upload/v1521116467/explainerchildren.png", height:200) %>
        </div>
        <p class="mb-0 explainer-text-box gray">An average child owns over 100 toys whilst studies suggest that having too many toys has a negative effect on their cognitive development.</p>
      </div>
      <div class="card col-xs-12 col-sm-4 text-center gray">
        <strong><p class="gray">Environment</p></strong>
        <div class="explainer-boxes">
          <%= cl_image_tag("http://res.cloudinary.com/dj2d1zdlv/image/upload/v1521116478/explainer3.png", height:200) %>
        </div>
        <p class="mb-0 explainer-text-box">This is not only bad for children but also for the environment as 90% of toys contain some kind of plastic that cannot be recycled afterwards.</p>
      </div>
      <div class="card col-xs-12 col-sm-4 text-cente">
        <strong><p class="gray text-center">Future</p></strong>
        <div class="explainer-boxes">
          <%= cl_image_tag("http://res.cloudinary.com/dj2d1zdlv/image/upload/v1521119033/explainer5.png", height:200) %>
        </div>
        <p class="mb-0 explainer-text-box padding-bottom text-center">We believe that by investing in meaningful gifts we can have a positive impact on the future of our children as well as the environment.</p>
      </div>
    </div>
    <div class="row">
      <a href="#how-it-works">
          <div class="container-arrow">
            <div class="chevron"></div>
          </div>
      </a>
    </div>
  </div>

    <div class="explainer" id="how-it-works">
      <div class="container flex">
        <div class="explainer-text text-center">
          <h1 class="red">How It Works</h1>
          <p>Create an event for your child</p>
          <p>Connect to savings account</p>
          <p>Add gifts</p>
          <p>Invite family and friends</p>
          <p>Receive gift contributions</p>
          <p>Thank all the gifters</p>
          <%= link_to "Get started", events_path, class: "btn-red" %>
        </div>
        <div class="girl">
          <%= cl_image_tag("http://res.cloudinary.com/dj2d1zdlv/image/upload/v1521110828/howitworks_image.png", height: 430) %>
        </div>
      </div>
    </div>

    <div class="people" id="people">
      <h1 class="yellow">Meet The Team</h1>
      <div class="people-box">
        <div class="people-card">
          <div class="team-avatar">
            <%= cl_image_tag("kat", width: 100, height: 100, crop: :thumb, gravity: :face) %>
            <div class="overlay">
              <%= cl_image_tag("katsmall", width: 100, height: 100, crop: :thumb, gravity: :face) %>
            </div>
          </div>
          <div class="people-info">
            <h3>Kat</h3>
            <p>Founder</p>
            <p class="people-description">Colouring in expert</p>
          </div>
        </div>

        <div class="people-card">
          <div class="team-avatar">
            <%= cl_image_tag("shirley", width: 100, height: 100, crop: :thumb, gravity: :face) %>
            <div class="overlay">
              <%= cl_image_tag("littleshirley", width: 100, height: 100, crop: :thumb, gravity: :face) %>
            </div>
          </div>
          <div class="people-info">
            <h3>Shirley</h3>
            <p>Senior Developer</p>
            <p class="people-description">Chocaholic</p>
          </div>
        </div>
          <div class="people-card">
            <div class="team-avatar">
              <%= cl_image_tag("amina", width: 100, height: 100, crop: :thumb, gravity: :face) %>
              <div class="overlay">
                <%= cl_image_tag("aminasmall", width: 100, height: 100, crop: :thumb, gravity: :face) %>
              </div>
            </div>
            <div class="people-info">
              <h3>Amina</h3>
              <p>Full-Stack Developer</p>
              <p class="people-description">Tickle monster</p>

            </div>
          </div>

        <div class="people-card">
          <div class="team-avatar">
            <%= cl_image_tag("alisa", width: 100, height: 100, crop: :thumb, gravity: :face) %>
            <div class="overlay">
              <%= cl_image_tag("alisasmall", width: 100, height: 100, crop: :thumb, gravity: :face) %>
            </div>
          </div>
          <div class="people-info">
            <h3>Alisa</h3>
            <p>Head of Design</p>
            <p class="people-description padding-bottom">Chatterbox coordinator</p>
          </div>
        </div>
      </div>

      <div class="text-center">
        <%= mail_to "info@gifter.tech" do %>
        <strong class="btn-yellow">Send us an email</strong>
        <% end %>
        <a href="mailto:info@gifter.tech"></a>
      </div>
    </div>
  </div>
</div>

