<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 text-center">
      <div class="form-container">
        <h2 class="red">Welcome to Gifter</h2>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "Email" %>
            <%= f.input :password, required: true, label: false, placeholder: "Password"%>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Log in", class: "form-btn" %>
          </div>
        <% end %>

        <h4>or</h4>
        <p><%= link_to_login_with 'Facebook', '/users/auth/facebook', { width: '460', height: '500' } %></p>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'facebook_login' %>
