<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <% if params[:controller] == "pages" && params[:action] == "home" %>
    <% body_class = "body-red" %>
  <% elsif params[:controller] == "gifts" && params[:action] == "index" %>
    <% body_class = "body-yellow" %>
  <% elsif params[:controller] == "events" && params[:action] == "index" %>
    <% body_class = "body-yellow" %>
  <% end %>
  <body class="<%= body_class %>">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= render 'shared/footer' %>
  </body>
</html>
