<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>"Gifter | Let's gift something meaningful</title>
    <meta property="og:title" content="Gifter | Let's gift something meaningful" />
    <meta property="og:description" content="Help your child get a head start with Gifter. Gifter makes it easy to start investing in your child’s future by encouraging friends and family to fundraise towards purposeful gifts and experiences." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.gifter.tech/" />
    <meta property="og:image" content="http://res.cloudinary.com/dj2d1zdlv/image/upload/v1520609803/background-image-fb.jpg" />
    <meta property="fb:app_id" content="966242223397117" />
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>

  <% if params[:controller] == "pages" && params[:action] == "home" %>
    <% body_class = "body-yellow" %>
  <% elsif params[:controller] == "gifts" && params[:action] == "index" %>
    <% body_class = "body-yellow" %>
  <% else %>
    <% body_class = "body-white" %>
  <% end %>
  <body class="<%= body_class %>">
    <%= render 'shared/navbar' %>
    <%= yield %>
  <% unless params[:controller] == "devise/sessions" || params[:controller] == "registrations" || params[:controller] == "users" %>
    <%= render 'shared/footer' %>
  <% end %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
